@media (min-width: 769px)
{
    .sidebar-detached > .sidebar {
       width: 660px;
    }
}


/*@media (min-width: 769px){*/
    /*.has-detached-left .container-detached {*/
        /*margin-left: -360px;*/
    /*}*/
/*}*/


@media (min-width: 769px){
    .has-detached-left .content-detached {
        margin-left: 680px;
    }
}


@media (min-width: 769px){

    .has-detached-left .container-detached {
        float: none;
        margin-left: 0;
        width: 100%;
    }


}


@media (min-width: 769px){
    .sidebar-detached-hidden .content-detached {
        margin-left: 0;
    }

}


.tabrow li {
    padding: 50px 5px 20px 5px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: 5px !important;

}









